<div class="card">
  <span class="heading"><%= @q.description %></span>
  <%= form_with class: "contents" do |f| %>
    <%= f.label "Answer" %>
    <%= f.text_area :answer, class: "text-box text-area" %>
    <%= f.submit "Answer", class: "btn" %>
  <% end %>
</div>
