<div class="card">
  <span class="heading text-center">Please sign in</span>
  <%= form_with class: "contents" do |f| %>
    <%= f.label "Short username or email" %>
    <%= f.text_field :user , class: "text-box"%>
    <%= f.label "Password" %>
    <%= f.password_field :password, class: "text-box" %>
    <%= f.submit "Sign in", class: "btn" %>
  <% end %>
</div>

